.arrow-buttons-wrapper {
  position: absolute;
  width: 100%;
  bottom: 4vh;
  padding: 0px 7vw;

  .arrow-buttons-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
  }

  img {
    max-width: 20vw;
    display: block;
    margin: 0 auto;
  }

  button {
    padding: 0;
    border: none;
    margin: 0;
    width: 20vw;
    background: transparent;

    &:active > img{
      filter: brightness(1.5);
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  }

  .inicio {
    width: 12vw;
  }
}