@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-1vh); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(1vh); }
}

.screen-one-wrapper {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  position: relative;

  .money-bag {
    position: absolute;
    top: 4vh;
    width: 40vw;
    right: 3vw;
    animation: mover 0.5s infinite alternate;
  }
}